@font-face {
  font-family: 'fontello';
  src: url("../icon-font/font/fontello.eot");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Roboto", sans-serif !important;
  padding: 0;
  margin: 0; }

li,
ol,
ul {
  list-style-type: none; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.container-fluid {
  display: flex;
  padding: 0 !important; }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .container-fluid {
      display: block; } }

.header-square {
  max-width: 441px;
  height: 100px;
  background-color: #ec1c24; }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .header-square {
      margin: 0 auto; } }
.header-content {
  padding: 25px 0 0 10px; }
  .header-content p {
    font-size: 1.68vh;
    line-height: 25px;
    font-weight: 100;
    color: #595959; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .header-content p {
        max-width: 441px;
        margin: 0 auto; } }

.hero {
  margin-top: 10px; }
  .hero-accordian {
    width: 60%; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .hero-accordian {
        width: 100%; } }
    .hero-accordian-title {
      padding-left: calc( (100vw - 1170px) / 2);
      margin-bottom: 4.5rem; }
      @media screen and (min-width: 992px) and (max-width: 1200px) {
        .hero-accordian-title {
          padding-left: calc( (100vw - 930px) / 2); } }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        .hero-accordian-title {
          padding-left: calc( (100vw - 750px) / 2); } }
      .hero-accordian-title h2 {
        font-size: 5.8vh;
        font-weight: 100;
        color: #333;
        margin: 0;
        position: relative; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .hero-accordian-title h2 {
            font-size: 4vh; } }
        .hero-accordian-title h2:before {
          content: 'faq';
          display: block;
          font-size: 18vh;
          font-weight: 900;
          color: #eee; }
        .hero-accordian-title h2 span {
          position: absolute;
          bottom: 0px;
          left: 85px; }
          @media screen and (min-width: 768px) and (max-width: 992px) {
            .hero-accordian-title h2 span {
              left: 50px; } }
          @media screen and (min-width: 320px) and (max-width: 767px) {
            .hero-accordian-title h2 span {
              left: 25px; } }
    .hero-accordian-list ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0; }
    .hero-accordian-list .accordian-item {
      counter-increment: item;
      font-size: 1.92vh;
      font-weight: 100;
      color: #333333;
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: calc( (100vw - 1170px) / 2);
      position: relative;
      cursor: pointer; }
      @media screen and (min-width: 992px) and (max-width: 1200px) {
        .hero-accordian-list .accordian-item {
          padding-left: calc( (100vw - 930px) / 2); } }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        .hero-accordian-list .accordian-item {
          padding-left: calc( (100vw - 750px) / 2);
          font-size: 1.5vh; } }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .hero-accordian-list .accordian-item {
          padding-left: 15px; } }
      .hero-accordian-list .accordian-item span {
        padding-left: 20px;
        color: #333; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .hero-accordian-list .accordian-item span {
            max-width: 70%;
            display: block;
            float: left;
            padding-left: 10px; } }
      .hero-accordian-list .accordian-item:before {
        counter-increment: li;
        content: counter(item,decimal-leading-zero);
        border-right: 1px solid #d3d3d3;
        padding-right: 20px;
        font-size: 2.2vh;
        font-weight: 300; }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .hero-accordian-list .accordian-item:before {
            padding-right: 15px;
            float: left; } }
      .hero-accordian-list .accordian-item:after {
        content: '\e800';
        font-family: fontello;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 9px;
        margin-right: 100px;
        font-size: 30px;
        max-height: 24px;
        color: #ec1c24; }
        @media screen and (min-width: 992px) and (max-width: 1200px) {
          .hero-accordian-list .accordian-item:after {
            top: 6px;
            margin-right: 45px; } }
        @media screen and (min-width: 768px) and (max-width: 992px) {
          .hero-accordian-list .accordian-item:after {
            margin-right: 35px; } }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .hero-accordian-list .accordian-item:after {
            margin-right: 10px;
            top: 0px; } }
      .hero-accordian-list .accordian-item-body {
        max-height: 0;
        margin-bottom: 10px;
        padding: 20px 20px 0px 67px;
        overflow: hidden;
        transition: .4s; }
        @media screen and (min-width: 768px) and (max-width: 992px) {
          .hero-accordian-list .accordian-item-body {
            padding: 20px 20px 0px 60px; } }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .hero-accordian-list .accordian-item-body {
            padding: 50px 43px 0px 43px; } }
    .hero-accordian-list .active {
      background-color: #f6f6f6; }
      .hero-accordian-list .active:hover {
        background-color: #ec1c24;
        transition: .4s; }
        .hero-accordian-list .active:hover:before {
          color: #000; }
      .hero-accordian-list .active:before {
        color: #ec1c24;
        transition: .1s;
        font-weight: 400; }
      .hero-accordian-list .active:after {
        content: '\e801';
        transition: .2s;
        color: #000; }
      .hero-accordian-list .active span {
        font-weight: 400;
        transition: .1s; }
      .hero-accordian-list .active .accordian-item-body {
        overflow: visible;
        max-height: 200px;
        transition: .4s; }
        .hero-accordian-list .active .accordian-item-body p {
          font-size: 1.68vh;
          line-height: 25px;
          font-weight: 100;
          max-width: 550px;
          color: #595959; }
          @media screen and (min-width: 992px) and (max-width: 1200px) {
            .hero-accordian-list .active .accordian-item-body p {
              max-width: 420px; } }
          @media screen and (min-width: 768px) and (max-width: 992px) {
            .hero-accordian-list .active .accordian-item-body p {
              max-width: 300px;
              font-size: 1.5vh; } }
  .hero-files {
    width: 40%;
    background-color: black;
    color: white;
    padding-right: calc((100vw - 1170px) / 2);
    border-top-left-radius: 25px; }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      .hero-files {
        padding-right: calc((100vw - 930px) / 2); } }
    @media screen and (min-width: 768px) and (max-width: 992px) {
      .hero-files {
        padding-right: calc((100vw - 750px) / 2); } }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .hero-files {
        width: 100%;
        border-top-left-radius: unset;
        padding-bottom: 50px;
        z-index: 9999;
        position: relative; } }
    .hero-files-title {
      margin-bottom: 30px; }
      .hero-files-title h3 {
        font-size: 4.3vh;
        max-width: 350px;
        font-weight: 400;
        line-height: 54px;
        padding: 54px 0 0 36px;
        margin: 0; }
        @media screen and (min-width: 768px) and (max-width: 992px) {
          .hero-files-title h3 {
            padding-left: 25px; } }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          .hero-files-title h3 {
            padding-right: 36px; } }
        .hero-files-title h3 span {
          font-weight: 300; }
    .hero-files-list ul {
      padding-left: 36px; }
      @media screen and (min-width: 768px) and (max-width: 992px) {
        .hero-files-list ul {
          padding-left: 25px; } }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .hero-files-list ul {
          padding-right: 36px; } }
      .hero-files-list ul li {
        font-size: 1.93vh;
        line-height: 55px;
        border-bottom: 2px solid #2e2d2d;
        position: relative;
        cursor: pointer;
        font-weight: 300; }
        .hero-files-list ul li:after {
          content: '\e802';
          font-family: fontello;
          display: inline-block;
          font-size: 23px;
          max-height: 30px;
          color: #fff;
          float: right; }
        .hero-files-list ul li:hover:after {
          color: #ec1c24;
          transition: .4s; }
        .hero-files-list ul li a {
          color: #fff;
          text-decoration: none; }

.footer {
  width: 100%;
  height: 375px;
  background-color: #ebebeb; }

/*# sourceMappingURL=style.css.map */
